.ant-table-row {
    cursor: pointer;
}

.map_text_box{
    z-index: 9999;
    position: relative;
    background-color: #fff;
    height: 150px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 15px;
    box-shadow: 0px 0px 10px 0px #000;
    bottom: 0;
    opacity: 0.9;
}

.map_text {
    font-weight: 900;
    color: #1677ff;
    font-size: 18px;
    margin: 0;
}

.map_navi {
    width: 150px;
    height: 50px;
    background-color:#1677ff;;
    border: none;
    color: #FFF;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
        background-color: #074397;
    }
}
    :where(.css-dev-only-do-not-override-3rel02).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-3rel02).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-3rel02).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-3rel02).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-3rel02).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-3rel02).ant-table-wrapper tfoot>tr>td{
        padding: 5px 2px !important;
    }

